header {
  background-color: beige;
  padding: 1rem 0;
}

.header-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.navbar__link {
  color: black;
  text-decoration: none;
}

.navbar__link--active {
  border-bottom: 1px solid black;
}
